div{
    display:inline-block;
    width: 64px;
    height: 64px;
    margin: 16px;
}

div:hover{
    width: 64px;
    height: 64px;
    margin: 16px;
    
    box-shadow: 1px 1px 7px  rgb(249, 34, 62);
}

div:active{
    box-shadow: inset -2px -2px 4px 1px rgb(31, 31, 62);
}