:host{
    overflow: hidden;
}

div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.edit {
    position: absolute;
    top: 18px;
    right: 2%;
    color: white;
    background-color: transparent;    
    border: none;
    outline: none;
    font-family: "宋体", "Arial", sans-serif;
    font-size: 16px; 
    appearance: none; 
}

option {
    color: black;
    background-color: transparent;
  }

.coordinate {
    position: absolute;
    top: 40px;
    right: 2%;
    color: white;
    font-family: "宋体", "Arial", sans-serif;
    font-size: 16px;
}

.prompt {
    position: absolute;
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    border: 0;
    height: 20%;
    width: 97%;
    bottom: 28px;
    left: 1%;
    color: white;
    font-family: "宋体", "Arial", sans-serif;
    font-size: 16px;
}

.prompt p {
    display: flex;
}

.prompt b {
    display: flex;
}

.render {
    position: absolute;
    top: 0;
    left: 0;
}

.message {
    display: block;
    position: absolute;
    top: 6px;
    left: 18vw;
    width: 64vw;
    height: 200px;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .buttons {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 20vw;
    width: 60vw;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: hidden;
  }